<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a new post</title>
    <link rel="stylesheet" href="/edit.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>Create A Blog</h1>
      <form action="/posts" method="post">
        <input type="text" placeholder="enter username" name="username" /> <br />
        <textarea
          name="content"
          placeholder="add your content"
          id=""
          cols="30"
          rows="10"
        ></textarea>
        <br />
        <button>submit</button>
      </form>
    </div>
 
  </body>
</html>
