<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Here Is Your Post In Details</h2>
    <p>PostId : <%= blog.id %></p>
    <div class="blog">
      <h3 class="user">@<%= blog.username %></h3>
      <h4 class="content"><%= blog.content %></h4>
    </div>
</body>
</html>